@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r57jwu');
  src:  url('fonts/icomoon.eot?r57jwu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r57jwu') format('truetype'),
    url('fonts/icomoon.woff?r57jwu') format('woff'),
    url('fonts/icomoon.svg?r57jwu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-message-circle:before {
  content: "\e909";
}
.icon-message-square:before {
  content: "\e90a";
}
.icon-octagon:before {
  content: "\e908";
}
.icon-thumbs-up:before {
  content: "\e90b";
}
.icon-brightness:before {
  content: "\e901";
}
.icon-brightness-half:before {
  content: "\e902";
}
.icon-moon:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e900";
}
.icon-image:before {
  content: "\e90d";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-table2:before {
  content: "\ea71";
}
